.introduction{
  align-items: center;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

.header {
  align-items: center;
  display: flex;
  margin-left: 10%;
  margin-top: 3%;
}

.experienceOne {
  align-items: center;
  display: flex;
  margin-left: 10%;   
  margin-top: 3%;
}

.listOne {
  align-items: center;
  margin-right: 15%;
  margin-left: 15%;
}

.project {
  align-items: center;
  display: flex;
  margin-left: 10%;
  /* margin-top: 3%; */
}

.projectPhoto {
  height: 50%;
  width: 57%;
  margin-right: 5%;
}

.projectDesc {
  margin-right: 5%;
}

.mePhoto {
  height: 50%;
  width: 30%;
  margin-right: 10%;
}

.aboutMeInfo {
  align-items: center;
  display: flex;
}

.aboutMeText {
  margin-left: 15%;
  margin-right: 15%;
}

